<div class='toolbar'>
  <ul class='actions'>
    <li>
      <%= button_link_to t("new_bucket_rate"), new_object_url, :icon => 'add'  %>
    </li>
  </ul>
  <br class='clear' />
</div>

<h1><%= t("bucket_rate") %></h1>
<p>
  <%= t(:bucket_list_information) %>
</p>

<table class="index">
  <thead>
    <tr>
      <th><%= t("calculator")%></th>
      <th><%= t("floor",   :scope => 'activerecord.attributes.bucket_rate') %></th>
      <th><%= t("ceiling", :scope => 'activerecord.attributes.bucket_rate')%></th>
      <th><%= t("rate",    :scope => 'activerecord.attributes.bucket_rate') %></th>
      <th><%= t("action")%></th>
    </tr>
  </thead>
  <tbody>
    <% @bucket_rates.sort.each do |rate| %>
      <tr>
        <td><%=rate.calculator ? rate.calculator.name: "-" %></td>
        <td><%=rate.floor %> <%= rate.unit %></td>
        <td><%=rate.ceiling %> <%= rate.unit %></td>
        <td><%=number_to_currency(rate.rate) %></td>
        <td>
          <%= link_to_edit rate %> &nbsp;
          <%= link_to_delete rate %>
        </td>
      </tr>
    <% end %>
    <% if @bucket_rates.empty? %>
      <tr><td colspan="5"><%= t(:none) %></td></tr>
    <% end %>
  </tbody>
</table>